version: '3'

networks:
  inception:
    driver: bridge

volumes:
  site:
    name: site
  db:
    name: db

services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    restart: always
    ports:
      - 443:443
    depends_on:
      - wordpress
    networks:
      - inception
    volumes:
      - site:/var/www/html

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    restart: always
    depends_on:
      - mariadb
    networks:
      - inception
    volumes:
      - site:/var/www/html
    env_file:
      - .env

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    volumes:
      - db:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env
    restart: always